[submodule "test/JSON-Schema-Test-Suite"]
	path = test/JSON-Schema-Test-Suite
	url = git@github.com:json-schema/JSON-Schema-Test-Suite.git
[submodule "test/json-schema"]
	path = test/json-schema
	url = git@github.com:json-schema/json-schema.git
