root: "."
include: [
  "package.json"
  "application.coffee"
  "complex.coffee"
  "valid_complex.coffee"

  "node_modules/testify/package.json"
  "node_modules/testify/**/*.{js,coffee,json,cson}"

  "node_modules/jsck/package.json"
  "node_modules/jsck/**/*.{js,coffee,json,cson}"

  "node_modules/json-schema-tests/package.json"
  "node_modules/json-schema-tests/**/*.{js,coffee,json,cson}"
]
exclude: [
  "**/*LICENSE*"
  "**/*.md"
  "**/coffee-script/**"
  "**/bin/**"
  "**/test/**"
  "**/tests/**"
  "**/spec/**"
]
apis: [
  "assert", "http", "https", "fs", "module", "util", "path", "url", "events",
  "querystring", "stream", "crypto"
]

